*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 300px;
    padding: 20px;
    border: 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: rgb(59, 181, 230);
    margin: 10px;
    width: 30%;
    font-size: 15px;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1);
}

h2{
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

p{
    padding: 5px 0;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px 0;
}