*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Aqui serve para eu alinhar no meio da tela*/
.colecao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*perspectiva em 3d*/

.main{
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

/*Tipografia das cards*/

h1{
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    color: black;
}

/*paragráfos das cards*/

p{
    color: black;
}

/* Elemento interno responsável pela rotação */

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*Ele gira ao passar o mouse por cima do card*/

.main:hover .card-inner{
    transform: rotateY(180deg);
}

/*estilo frente e verso*/

.box-front, .box-back{
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
}

/*Tela da frente*/

.box-front{
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

/*Tela de trás*/

.box-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}